$main-color: #f9bb00;
$black-color: #333;
$red: #fc0000;
$gray-color3: #ebebeb;
$gray-color9: #999;

$font-small: 12px;
$font-normal: 16px;
$font-medium: 20px;
$font-large: 42px;
$font-extra-large: 64px;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
